* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  background: #f8f8f8;
  overflow-x: hidden;
}

.header1 {
  background-image: url("../images/header_bg.jpg");
  width: 100vw;
  /* height: 200px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
}

.header1 .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-header {
  background-color: #ffc107;
  position: fixed;
  top: -50%;
  right: 0;
  left: 0;
  z-index: 10000;
  padding: 10px 0;
}

.scroll-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 .logo {
  /* background-color: red; */
  width: fit-content;
}
.header1 .logo img {
  width: 55%;
}

.yellow-border {
  border: 3px solid #ffc107;
  width: 100px;
  text-align: center;
  margin: 20px auto;
}
.head-text h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  /* font-size: 40px; */
}
.navbar .navlinks a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
}
.card {
  box-shadow: 0 0 3px 0 darkgray;
  border: none;
  padding: 4px;
}
.text-red {
  color: red;
}

.card .star-icon {
  margin: 15px 0;
}
.card .star-icon i {
  color: #ffc107;
  margin-right: 5px;
  font-size: 18px;
}
.card .card-title {
  font-weight: bold;
}
.card .card-second-title {
  font-size: 18px;
}
.icon-preview {
  display: flex;
  margin-bottom: 3px;
}
.icon-preview i {
  margin-right: 10px;
  color: #28a644;
  font-size: 22px;
}

.card-bottom-text {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}
.card-bottom-text .res {
  display: flex;
}

.card-bottom-text .card-btn {
  font-size: 12px;
  color: #ffc107;
  border: 1px solid #ffc107;
  background: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  transition: 0.3s;
  /* position: relative;
  right: -30px; */
}
.card-bottom-text button:hover {
  color: #fff;
  background: #ffc107;
}
.card-bottom-text .icon-preview {
  display: flex;
  margin-right: 20px;
}
.card-bottom-text .icon-preview i {
  margin-right: 10px;
}

.card-img-overlay {
  height: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-overlay .img-text1 {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #28a644;
  position: absolute;
  bottom: 0;
  left: 50px;
  width: fit-content;
  z-index: 10;
}
.card-img-overlay .img-text2 {
  background: #ffffff96;
  padding: 5px 20px;
  border-radius: 50px;
  display: none;
  z-index: 10;
  /* display: flex; */
}
/* .card {
  align-self: center;
  overflow: hidden;
} */
.card a {
  align-self: center;
  overflow: hidden;
  width: 100%;
}

.card a img {
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  width: 100%;
}

.card a:hover img {
  transform: scale(1.1);
}
.card a:hover .img-text2 {
  display: flex;
  color: #000;
}

.main-page-head {
  padding: 10px 0;
}
.bredcomb {
  background: #ffc107;
  padding: 20px 0;
}
.bredcomb a {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}
.bredcomb a span {
  color: #666;
}
.evening-desert-safari h3 {
  font-size: 35px;
}
.evening-desert-safari p {
  text-align: justify;
  margin-top: 20px;
  color: #666;
}
.evening-desert-safari .support-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 20px;
}
.evening-desert-safari .support-links a {
  text-decoration: none;
  color: #0d6efd;
}
.evening-desert-safari .support-links p span {
  font-size: 18px;
  font-weight: bold;
}
.page-form {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 35px 0;
  border: 1px solid rgba(169, 169, 169, 0.4);
}
.page-form .form-head {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  color: gray;
}
.card-bottom-text .icon-preview .icon-holder .fa {
  color: gray;
}
.icon-preview .icon-text {
  color: #666;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
form input {
  margin-top: 30px;
  /* outline: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  background: transparent;
  padding: 8px 12px;
}
form textarea {
  margin-top: 30px;
  /* outline: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  padding: 8px 12px;
}
form .sub-btn {
  background: #0d6efd;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

footer {
  padding: 80px 0;
  background-color: #121921;
  color: #fff;
}
footer .content .f-text {
  margin: 30px 0;
}
footer .content .social-links a {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
}
footer .content .social-links a:hover {
  margin-bottom: 30px;
}
footer .content h2 {
  font-size: 22px;
}
footer .content .menu-links-1 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
footer .content .menu-links-1 a {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}
footer .content .menu-links-1 a:hover {
  color: #0d6efd;
}
footer .content .menu-links-2 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
footer .content .menu-links-2 a {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}
footer .content .menu-links-2 a:hover {
  color: blue;
}
footer .content .contact-links {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
footer .content .contact-links a {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}
footer .content .contact-links a:hover {
  color: blue;
}
footer .copyright {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}
.fixed_icon {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 100000;
  transition: 1s;
}
.fixed_icon a {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.fixed_icon a .fa-phone {
  background-color: #03e78b;
  padding: 8px 12px;
  font-size: 40px;
  border-radius: 50%;
  color: #fff;
}
.fixed_icon a .fa-whatsapp {
  background-color: #49e670;
  padding: 8px 12px;
  font-size: 40px;
  border-radius: 50%;
  color: #fff;
}
